priority -50

###########################################################################
#                            TEXTMATE SNIPPETS                            #
###########################################################################
snippet file "file" b
with open(${1:afile}, '${2:r}', encoding='utf-8') as ${3:f}:
	lines = f.readlines()
endsnippet
